:root{
  --nergo: #191919;
  --beige: #f4e4d5;
  --azul-agua: #4bcbc7;
  --azul-claro:#e3f2fd;
  --blanco: #fff;
}
body{
  background-color: var(--azul-claro);
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.navbar{
  position: sticky !important;
  top: 0;
}
h2{
   font-size: calc(1.6rem + .9vw) !important;
}
.contenedor-parrafos{
  background-color: var(--blanco);
  color: var(--nergo);
  width: 100vw;
  padding: 35px;
  margin-left: auto;
  margin-right: auto;
  display: flexbox;
}
.subtitulos{
  color: var(--azul-agua);
  font-size: calc(1.1rem + .6vw);
}
@media screen and (min-width: 1200px){
  .contenedor-parrafos{
    width: 70vw;
  }
}
@media screen and (min-width: 800px) and (max-width: 1200px){
  .contenedor-parrafos{
    width: 90vw;
  }
}